<%= form_with(model: bankgroup, local: true) do |form| %>
  <% if bankgroup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bankgroup.errors.count, "error") %> prohibited this bankgroup from being saved:</h2>

      <ul>
        <% bankgroup.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_area :code %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :gl_account %>
    <%= form.text_area :gl_account %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
