<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @salesperson.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @salesperson.email %>
</p>

<p>
  <strong>Phone no:</strong>
  <%= @salesperson.phone_no %>
</p>

<p>
  <strong>Job title:</strong>
  <%= @salesperson.job_title %>
</p>

<p>
  <strong>Total sales:</strong>
  <%= @salesperson.total_sales %>
</p>

<p>
  <strong>Commission:</strong>
  <%= @salesperson.commission %>
</p>

<%= link_to 'Edit', edit_salesperson_path(@salesperson) %> |
<%= link_to 'Back', salespeople_path %>
