<tr class="invoice_line_fields">
  <td>
    <%= f.text_field :item_no, class: 'item_no' %>
  </td>
  <td>
    <%= f.text_field :description, class: 'description' %>
  </td>
  <td>
    <%= f.text_field :unit_of_measure, class: 'unit_of_measure' %>
  </td>
  <td>
    <%= f.number_field :quantity, class: 'quantity', step: :any %>
  </td>
  <td>
    <%= f.number_field :unit_price, class: 'unit_price', step: :any %>
  </td>
  <td>
    <%= f.number_field :amount, class: 'amount', step: :any %>
  </td>
  <td>
    <%= link_to_remove_association "Remove Line", f, class: 'btn btn-danger' %>
  </td>
</tr>



