<h1>Assign Roles to <%= @user.email %></h1>

<%= form_with model: @user, url: update_roles_user_path(@user), method: :patch, local: true do |form| %>
  <div class="form-group">
    <%= form.collection_check_boxes :role_ids, Role.all, :id, :name do |b| %>
      <div class="form-check">
        <%= b.check_box class: 'form-check-input' %>
        <%= b.label class: 'form-check-label' %>
      </div>
    <% end %>
  </div>

  <%= form.submit 'Update Roles', class: 'btn btn-primary' %>
<% end %>
