

<!-- Skin configuration box -->
<!-- <%= render 'layouts/skinconfig' %> -->

    <!-- Wrapper-->
<div id="wrapper" class="<%= params[:controller] %>.<%= params[:action] %>">

        <!-- Navigation -->
        <%= render 'layouts/navigation' %>

        <!-- Page wraper -->
        <div id="page-wrapper" class="gray-bg <%= @extra_class %>">

            <!-- Page wrapper -->
            <%= render 'layouts/topnavbar' %>

            <!-- Main view  -->
            <!--<%= yield %>-->




<p id="notice"><%= notice %></p>

<h1
<h5>Customers</h5>
<div class="card">

<div class="table-responsive border-bottom" data-toggle="lists" data-lists-values='["js-lists-values-customer-name"]'>

  <%# <div class="search-form search-form--light m-3">
    <input type="text" class="form-control search" placeholder="Search">
    <button class="btn" type="button" role="button"><i class="material-icons">search</i></button>
  </div>
   %>
 

 <div class="table-responsive">
 <table class="table table-striped table-bordered table-hover dataTables-example" >

  <thead>
    <tr>
      <th>Customer name</th>
      <th>Contactno</th>
      <th>Contact name</th>
      <th>Address</th>
      <th>City</th>
      <th>Date</th>
      <th>Sales person code</th>
      <th>Sales person name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.customer_name %></td>
        <td><%= customer.contactno %></td>
        <td><%= customer.contact_name %></td>
        <td><%= customer.address %></td>
        <td><%= customer.city %></td>
        <td><%= customer.date %></td>
        <td><%= customer.sales_person_code %></td>
        <td><%= customer.sales_person_name %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
<br>

<%= link_to 'New Customer', new_customer_path %>

</div>
</div>
