<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @vendor.description %>
</p>

<p>
  <strong>Contactname:</strong>
  <%= @vendor.contactname %>
</p>

<p>
  <strong>Location:</strong>
  <%= @vendor.location %>
</p>

<p>
  <strong>Payment:</strong>
  <%= @vendor.payment_id %>
</p>

<%= link_to 'Edit', edit_vendor_path(@vendor) %> |
<%= link_to 'Back', vendors_path %>
