<tr class="nested-fields">
<td><%= form.text_field :account_type %></td>
<td><%= form.text_field :accountno %></td>
  <td><%= form.text_field :account_name %></td>
  <td><%= form.number_field :amount %></td>
  td><%= form.number_field :amount %></td>
  td><%= form.number_field :invoiceno %></td>
  <td><%= link_to 'Remove', '#', class: 'remove_fields' %></td>
</tr>

