<%= form_with(model: sales_order, local: true) do |form| %>
  <% if sales_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sales_order.errors.count, "error") %> prohibited this sales_order from being saved:</h2>

      <ul>
        <% sales_order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :order_no %>
    <%= form.text_field :order_no %>
  </div>

  <div class="field">
    <%= form.label :customer_no %>
    <%= form.text_field :customer_no %>
  </div>

  <div class="field">
    <%= form.label :customer_name %>
    <%= form.text_field :customer_name %>
  </div>

  <div class="field">
    <%= form.label :contactno %>
    <%= form.text_field :contactno %>
  </div>

  <div class="field">
    <%= form.label :contact_name %>
    <%= form.text_field :contact_name %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>

  <div class="field">
    <%= form.label :order_date %>
    <%= form.date_select :order_date %>
  </div>

  <div class="field">
    <%= form.label :sales_person_code %>
    <%= form.text_field :sales_person_code %>
  </div>

  <div class="field">
    <%= form.label :sales_person_name %>
    <%= form.text_field :sales_person_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
