 <nav class="navbar-default navbar-static-side" role="navigation">
   
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
   
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <img alt="image" class="rounded-circle" src="<%= image_path('profile_small.jpg') %>"/>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="block m-t-xs font-bold">Bright Innovations</span>
                        <span class="text-muted text-xs block">ERP System<b class="caret"></b></span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a class="dropdown-item" href="<%= url_for :controller => 'appviews', :action => 'profile' %>">Profile</a></li>
                        <li><a class="dropdown-item" href="<%= url_for :controller => 'appviews', :action => 'contacts' %>">Contacts</a></li>
                        <li><a class="dropdown-item" href="<%= url_for :controller => 'mailbox', :action => 'inbox' %>">Mailbox</a></li>
                        <li class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="<%= url_for :controller => 'pages', :action => 'login' %>">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
   
   
    
   
   
 

    <ul class="menu">
      <li>
        <a href="#">Dashboard</a>
         <a href="#"> Main Dashboards </a>
        <ul class="submenu">
       
          <li> 
            <%= link_to dashboards_account_charts_path do %>    
               
	      <% end %>

           </li>
        </ul>
      </li>
      
      
      
      <li>
        <a href="#">Finance Management</a>
        <ul class="submenu">
          <li><a href="#">General Ledger</a>
          
		  <ul class="nav nav-Third-level">
                            <li>
                                <a href="#">Chart of Accounts</a>
                            </li>
                            <li>
                                <a href="#">General Ledger Entries</a>
                            </li>
                            
                        </ul>
                        
              </li>
              
           <li><a href="#">Cash Manager</a>
          
		  <ul class="nav nav-Third-level">
                            <li>
                                <a href="#">Bank Accounts</a>
                            </li>
                            <li>
                                <a href="#">Cash Accounts</a>
                            </li>
                            <li>
                                <a href="#">Bank Reconciliation</a>
                            </li>

                        </ul>
                        
              </li>
              
              
              
              
              
              
          
          
          <li><a href="#">Finance Operations</a>
          
           <ul class="nav nav-Third-level">
                            <li>
                                <a href="#">Receipts</a>
                            </li>
                            <li>
                                <a href="#">Payment Vouchers</a>
                            </li>
                            <li>
                                <a href="#">Funds Transfer</a>
                            </li>

                        </ul>
          
          
          </li>
          
          
          
        </ul>
        
        
      </li>
      
      
   <li>
        <a href="#">Sales & Receivables </a>
        <ul class="submenu">
          <li><a href="#">Customers </a>
          
		  <ul class="nav nav-Third-level">
                            <li>
                                <a href="#">Customer List</a>
                            </li>
                            <li>
                                <a href="#">Customer Ledgers</a>
                            </li>
                            
                        </ul>
                        
              </li> 
              
              <li><a href="#">Sales Management</a>
          
		  <ul class="nav nav-Third-level">
                            <li>
                                <a href="#">Invoices</a>
                            </li>
                            <li>
                                <a href="#">Sales Credit Memo</a>
                            </li>
                            
                        </ul>
                        
              </li> 
              
              
              
              
              
              
              </ul>
              </li> 
              
              
      
      
      
      
      
      
      
      
      
      <li><a href="#">Menu 3</a></li>
    </ul>
  

<style>
/* General reset */
body, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: Arial, sans-serif;
}

.sidebar {
  width: 250px;
  background-color: #2c3e50;
  color: white;
  height: 100vh;
  position: fixed;
  overflow-y: auto;
}

.menu > li {
  border-bottom: 1px solid #34495e;
}

.menu > li > a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  transition: background 0.3s;
}

.menu > li > a:hover {
  background-color: #34495e;
}

.submenu {
  display: none;
  background-color: #34495e;
}

.submenu > li > a {
  padding: 15px 30px;
  font-size: 14px;
  text-decoration: none;
  color: white;
  display: block;
  transition: background 0.3s;
}

.submenu > li > a:hover {
  background-color: #1abc9c;
}

/* Show submenus on hover */
.menu > li:hover > .submenu {
  display: block;
}

.submenu > li:hover > .submenu {
  display: block;
}

</style>       
                        
                   
</ul>
</li>
</nav>





